<!doctype html>
<html lang="en">

<head>
    <title>{{title}}</title>
    <!-- Bootstrap CSS -->
    {{!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous"> --}}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body class="bg-info">
    <seaction id="nav">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container">
                <div class="collapse navbar-collapse" id="navbarText">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item active">
                            <a class="nav-link" href="http://localhost:2000/api/v1/employee/view/create">Create<span
                                    class="sr-only">(current)</span></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="http://localhost:2000/api/v1/employee/view/date">Filter Date</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="http://localhost:2000/api/v1/employee/view/search">Search</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="http://localhost:2000/api/v1/salary/view/create">Salary</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </seaction>
    <div class="row">
        <div class="col-md-6 offset-md-3" style="background-color: #fff;margin-top:25px;padding:20px;">
            {{{body}}}
        </div>
    </div>
</body>

</html>