<section id="banner">
    <div class="banner">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <h4>Sistem Informasi Karyawan</h4>
                    <p>{{message}}</br>{{timestamp}}</p>
                </div>
                <div class="col-md-6">
                    <img src="https://res.cloudinary.com/nyebarid/image/upload/v1605061837/uploader/j3b5xwym0n5urxxijuyg.jpg"
                        class="ban-img img-fluid">
                </div>
            </div>
        </div>
    </div>
</section>